/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Regole header */

    /* bara principale */

    /* Info iniziali */


/* Regole main */


    /* Prima parte main */


    /* Seconda parte main */


    /* Terza parte main */


    /* Quarta parte main */


    /* Quinta parte main */


/* Regole footer */


    /* Info principali foote */


    /* Selezione lingua */