/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
}

/* Regole header */

    /* bara principale */
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
        /* dbag */
        height: 60px;
        background-color: steelblue;
    }
    .prima{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 28%;
        /* dbag */
        height: 40px;
        background-color: crimson;
        
    }
    .seconda{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 28%;
        /* dbag */
        height: 40px;
        background-color: crimson;
    }

    .prima a{
        color: black;
        text-decoration: none;
    }
    .seconda a{
        color: black;
        text-decoration: none;
    }
    
    /* Info iniziali */

    .header{
        display: flex;
        justify-content: center;
        width: 100%;
        /* dbag */
        height: 750px;
        
    }

    .titolo{
        width: 70%;
        /* dbag */
        height: 750px;
        background-color: darkseagreen;
    }

    h1{
        margin: 10% 3% 3% 3%;
        width: 95%;
        font-size: 70px;
        /* dbag */
        height: 180px;
        background-color: blanchedalmond;
    }
    .info_iniziali{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0% 3%;
        height: 400px;
        background-color: blueviolet;
    }
    .info1{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 30%;
        /* dbug */
        height: 95%;
        background-color: blanchedalmond;

    }
    .imgheader{
        width: 68%;
        /* dbug */
        height: 95%;
        background-color: blanchedalmond;
    }

/* Regole main */


    /* Prima parte main */
    .prima_section{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        /* dbag */
        height: 1300px;
        background-color: cornflowerblue;
    }
    .pagamenti{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 60%;

        /* dbug */
        height: 1280px;
        background-color: bisque;
    }
    h2{
        margin-top: 50px;
        font-size: 40px;
    }
    .cerchio{
        display: flex;
        gap:3PX;
        padding: 10px 0px;
    }
    .circle{
        font-size: 5px;
        border: 5px solid rgb(0, 89, 255);
        border-radius: 40px;
        padding: 1px 5px;
        vertical-align: middle;   
    }
    .circle2{
        font-size: 4px;
        border: 1px solid rgb(61, 61, 61);
        border-radius: 50%;
        padding: 0px 8px;
        vertical-align: middle;   
    }
    .fatura{
        padding-right: 30px;
    }
    .collone{
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* dbug */
        height: 1050px;
        background-color: rgb(194, 194, 194);
    }
    .collona1{
        display: flex;
        width: 30%;
        height: 1050px;
        background-color: aquamarine;
        border: 1px solid rgb(153, 153, 153);
    }
    .singolo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35px;
        border: 1px solid rgb(153, 153, 153);
    }
    .collona2{
        display: flex;
        width: 30%;
        height: 1050px;
        background-color: aquamarine;
        border: 1px solid rgb(153, 153, 153);
    
    }
    .collona3{
        display: flex;
        width: 30%;
        height: 1050px;
        background-color: aquamarine;
        border: 1px solid rgb(153, 153, 153);
    
    }
    .parola{
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        background-color: aqua;
        
    }

    /* Seconda parte main */


    /* Terza parte main */


    /* Quarta parte main */


    /* Quinta parte main */


/* Regole footer */


    /* Info principali foote */


    /* Selezione lingua */