/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
}

/* Regole header */

    /* bara principale */
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
        height: 80px;
        /* dbag */
        
        background-color: steelblue;
    }
    .prima{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 28%;
        /* dbag */
        height: 40px;
        background-color: crimson;
        
    }
    .seconda{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 28%;
        /* dbag */
        height: 40px;
        background-color: crimson;
    }

    .prima a{
        color: black;
        text-decoration: none;
    }
    .seconda a{
        color: black;
        text-decoration: none;
    }
    
    /* Info iniziali */

    .header{
        display: flex;
        justify-content: center;
        width: 100%;
        /* dbag */
        height: 750px;
        
    }

    .titolo{
        width: 70%;
        /* dbag */
        height: 750px;
        background-color: darkseagreen;
    }

    h1{
        margin: 10% 3% 3% 3%;
        width: 95%;
        font-size: 70px;
        /* dbag */
        height: 180px;
        background-color: blanchedalmond;
    }
    .info_iniziali{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0% 3%;
        height: 360px;
        background-color: blueviolet;
    }
    .info1{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 30%;
        /* dbug */
        height: 95%;
        background-color: blanchedalmond;

    }
    .imgheader{
        width: 68%;
        /* dbug */
        height: 95%;
        background-color: blanchedalmond;
    }

/* Regole main */


    /* Prima parte main */
    .prima_section{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        /* dbag */
        height: 1300px;
        background-color: cornflowerblue;
    }
    .pagamenti{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 60%;

        /* dbug */
        height: 1280px;
        background-color: bisque;
    }
    .h2{
        margin-top: 50px;
    }
    h2{
        font-size: 40px;
    }
    .cerchio{
        display: flex;
        gap:3PX;
        padding: 10px 0px;
    }
    .circle{
        font-size: 5px;
        border: 5px solid rgb(0, 89, 255);
        border-radius: 40px;
        padding: 1px 5px;
        vertical-align: middle;   
    }
    .circle2{
        font-size: 4px;
        border: 1px solid rgb(61, 61, 61);
        border-radius: 50%;
        padding: 0px 8px;
        vertical-align: middle;   
    }
    .fatura{
        padding-right: 30px;
    }
    .collone{
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* dbug */
        height: 1050px;
        background-color: rgb(194, 194, 194);
    }
    .collona1{
        display: flex;
        width: 30%;
        height: 1050px;
        background-color: aquamarine;
        border: 1px solid rgb(153, 153, 153);
    }
    .singolo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35px;
        border: 1px solid rgb(153, 153, 153);
    }
    .collona2{
        display: flex;
        width: 30%;
        height: 1050px;
        background-color: aquamarine;
        border: 1px solid rgb(153, 153, 153);
    
    }
    .collona3{
        display: flex;
        width: 30%;
        height: 1050px;
        background-color: aquamarine;
        border: 1px solid rgb(153, 153, 153);
    
    }
   

    /* Seconda parte main */
    .seconda_section{
        display: flex;
        justify-content: center;
        width: 100%;
        /* height: 550px; */
        /* dbag */
        
    }
    .main_team{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-bottom: 200px;
        /* height: 300px; */
        
        border: 1px solid rgb(153, 153, 153);
    }
    .parola{
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        width: 100%;
        height: 10%;
        border-bottom: 1px solid rgb(153, 153, 153);
        
    }
    .parola a{
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    .enterprise{
        display: flex;
        width: 100%;
        height: 300px;
        /* background-color: aqua; */
        
    }
    .contati{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
        margin-top: 20px;
        padding-left: 30px;
        font-size: 30px;
        
    }
    .contati2{
        margin-top: 40px;
        background-color: rgb(0, 119, 255);
        height: 38px;
        width: 27%;
        color: white;
        text-decoration: none;
        text-align: center;
        padding-top: 8px;
    }
    h3{
        font-size: 23px;
        padding-bottom: 20px;
    }
    
    /* Terza parte main */
    .terza_section{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 750px;
        background-color: cadetblue;
        
    }
    .main_partener{
        display: flex;
        width: 60%;
        height: 750px;
        background-color: white;
    }
    .img{
        width: 90%;
        height: auto;
    }
    .box_partener{
        width: 40%;
        height: 400px;
        background-color: bisque;
        margin-top: 5%;
    }
    /* Quarta parte main */
    .quarta_section{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 200px;

        /* dbug */
        /* height: 1000px;
        background-color: antiquewhite; */
    }
    .main_dropblox{
        display: flex;
        flex-direction: column;
        width: 60%;

        /* dbug */
        /* height: 1000px;
        background-color: darkgrey; */
    }
    .immagini{
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
        justify-content: space-between;
        margin-top: 50px;
        
    }
    .immagini img{
        width: 100%;

    }
    .img_info{
        width: 30%;
    }


    /* Quinta parte main */
    .quinta_section{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 160px;
    }
    .main_business{
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 40px;
        
    }
    .main_business a{
        font-size: 18px;
        color: rgb(48, 48, 255);
    }

/* Regole footer */
    .footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    /* dbag */
    
    /* height: 200px; */
}

    /* Info principali foote */
    .footer_info{
        display: flex;
        justify-content: space-between;
        width: 70%;
        padding: 80px 0px;
        /* height: 300px;
        background-color: bisque; */
        /* padding-bottom: 100px; */
    }
    .info_finali{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .info_finali a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    /* Selezione lingua */
    .lingua{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: black;

    }
    .box_lingua{
        display: flex;
        width: 70%;
        
        
    }
    .box_lingua a{
        
        color: white;
        text-decoration: none;
    }
    i{
        color: white;
    }
    .box_lingua div{
        width: 10%;
        border-top: 2px solid white;
        padding: 30px 0px;
    }